<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title class="heading">Respawn Booking</title>
  <link rel="stylesheet" href="../static/styles.css">
  <style>
    html{
    background-color: rgb(12, 12, 12);
    color: white;
    text-align: center;
}

</style>
</head>
<body>
  <nav>
  <ul>
    <li>
      <form method="POST" action="/button">
        <button type="submit" name="home" value="pressed">Hjemmeside</button>
      </form>
    </li>
        <li>
      <form method="POST" action="/button">
        <button type="submit" name="button" value="pressed">Bestill nå!</button>  </form>
    </li>
        <li>
        <form method="POST" action="/button">
        <button type="submit" name="seats" value="pressed">Sjekk din info her</button>  </form>
    </li>
  </ul>
</nav>
  <header>
      
          <div id="artikle">
        <h1 id="test">RESPAWN, RESTART, DOMINATE!</h1>  
        <h3>Er du klar for en helg full av gaming, action og skikkelig moro?
        Respawn Drammen samler gamere fra hele landet til en episk helg med fete turneringer,
        chill spillsoner – alt fra FPS og MOBA til retro og indie – og ikke minst VR som tar deg
        til en helt ny verden.
        Møt kjente streamere og pro-gamere, prøv det råeste gamingutstyret, bli med på
        cosplay-konkurranser, og sjekk ut kule workshops hvor du kan lære å lage
        dine egne spill. Enten du vil grind’e hardt, henge med venner, eller bare ha det fett –
        Respawn Drammen er stedet hvor du får sjansen til å respawne og dominere! </h3>
        </div>

        <img src="/static/Re-Spawn3-logo.svg" alt="Re-spawn Logo" id="logo">

</div>

    <footer>
 
    </footer>
  </body>
  </html>
  